*.db
*.log
*.egg-info/
*.sqlite
*.code-workspace
*.pyc
*-workspace
**/*.egg-info/
**/__pycache__/
**/Archive/
**/desktop.ini
**/*.py.isorted
**/VersionArchive/
.coverage*
.env
/.git/
/.idea/
/logs/*
/.pytest_cache/
/.run/
/.vscode/
_build/
bin/
build/
CodeCoverage.xml
coverage.*
dist/
docs/source/generated/
htmlcov/
lib/
lib64/
logs/
pyvenv.cfg
tmp/
venv/
