[build-system]
requires = [ "setuptools", "wheel",]
build-backend = "setuptools.build_meta"

[tool.black]
skip-string-normalization = true
extend-exclude = "/templates"

[tool.pytest.ini_options]
addopts = ["--import-mode=importlib", '-v']
pythonpath = "src"
markers = [
    'main: Run tests with __main__',
	'add: Run add_a tests',
    'branch: Run branch tests',
    'commit: Run commit tests',
    'push: Run push tests',
    'tag: Run tag tests',
]
